@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* main index*/
/*carrusel*/
.inicio {
  height: auto;
}
.inicio__carrusel {
  height: auto;
}
.inicio__carrusel .carrusel__content {
  height: auto;
}
.inicio__carrusel--section img {
  overflow: hidden;
  height: 300px; /* Ajusta la altura según tu necesidad */
  object-fit: cover; /* Mantiene las proporciones y cubre toda el área */
}
.inicio__carrusel--section-text {
  text-align: center;
  padding: 100px 30px;
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0px;
  background-image: linear-gradient(to top, #340D00 20%, transparent);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}
.inicio__carrusel--section-text a {
  padding: 100px;
  text-decoration: none;
}
.inicio__carrusel--section-text:hover {
  background-image: linear-gradient(to top, #340D00 40%, transparent);
}
.inicio__carrusel--section-text h3 {
  color: aliceblue;
  font-size: 1.2rem;
}
.inicio__carrusel--section-text h6 {
  color: aliceblue;
  display: none;
  font-size: 0.8rem;
}
.inicio__carrusel--section-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
  display: none;
  font-size: 0.8rem;
}

/* estilo de section conocenos */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  justify-content: center;
  text-align: center;
  /* estilo de section presentacion empresa */
}
.section__wsp {
  /* estilo de section whatsapp contacto flotante*/
  position: fixed;
  bottom: 50px;
  right: 15px;
}
.section__wsp--img:hover {
  height: 60px;
  width: 60px;
}
.section--font-text {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section__title {
  padding-bottom: 50px;
  text-align: center;
  color: #340D00;
  font-size: 35px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section__img-agencia {
  padding-bottom: 40px;
}
.section__img-agencia--img {
  width: 80%;
  border-radius: 20px;
}
.section__contacto, .section__contacto--subcontenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__contacto--text {
  color: #844B35;
  width: 80%;
  font-size: 20px;
}
.section__contacto--img {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.section__contacto--img img:hover {
  height: 60px;
  width: 60px;
}
.section__contacto--img-position {
  position: relative;
  top: 25px;
}
.section__collage {
  /* estilo de section collage de fotos de empresa*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "uno uno dos" "uno uno cinco" "tres cuatro cuatro" "tres cuatro cuatro";
  gap: 10px;
}
.section__collage--img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.section__collage--img-uno {
  grid-area: uno;
}
.section__collage--img-dos {
  grid-area: dos;
}
.section__collage--img-tres {
  grid-area: tres;
}
.section__collage--img-cuatro {
  grid-area: cuatro;
}
.section__collage--img-cinco {
  grid-area: cinco;
}
.section__collage--img-seis {
  grid-area: seis;
  display: none;
}
.section__ubicacion {
  padding-top: 40px;
}
.section__ubicacion--text {
  padding-bottom: 1rem;
  color: #391306;
  font-size: 2rem;
}

/* estilos de footer */
.footer {
  text-align: left;
  background-color: #340D00;
  padding: 15px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.footer__container {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
}
.footer__container--title {
  padding-bottom: 15px;
  font-size: 30px;
}
.footer__container--text li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.derechos {
  width: 100%;
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.contacto__img {
  width: 100%;
  height: 250px;
}
.contacto__img--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacto__formulario {
  border-radius: 15px;
  margin: 30px;
  padding: 20px;
  background-color: #340D00;
  color: aliceblue;
}
.contacto__formulario--container {
  width: auto;
}
.contacto__formulario--position {
  position: relative;
  bottom: 100px;
}
.contacto__formulario--title {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contacto__formulario--dato-persona {
  display: inline-block;
  padding: 0px 20px 10px 0px;
}
.contacto__formulario--dato-persona-input, .contacto__formulario--mensaje-textarea {
  display: block;
  border: none;
  border-radius: 5px;
  background-color: #844b35;
}
.contacto__formulario--mensaje-textarea {
  width: 100%;
}
.contacto__formulario--botton {
  padding-top: 15px;
  text-align: right;
}
.contacto__formulario--botton:active {
  background-color: #340D00;
}
.contacto__formulario--botton input {
  border-radius: 5px;
  color: aliceblue;
  background-color: #844b35;
  padding: 5px;
}
.contacto__formulario--botton input:active {
  background-color: hsl(15, 77%, 17%);
}

/* PAGINA SERVICIOS */
/* tarjetas de los servicios */
.servicios {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.servicios__title {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #340D00;
}
.servicios__subtitle {
  padding: 15px 0px;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #844b35;
}
.servicios__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.servicios__cards--card {
  margin-bottom: 15px;
  border: rgba(0, 0, 0, 0.252) 1px solid;
  border-radius: 10px;
  width: 250px;
}
.servicios__cards--img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 150px;
  object-fit: cover;
}
.servicios__cards--text {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #844b35;
  padding: 10px 10px 0px 10px;
}
.servicios__cards--text h4 {
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #601C00;
}
.servicios__cards--text p {
  margin-bottom: 0px;
}
.servicios__cards--boton {
  padding: 10px;
}
.servicios__cards--boton-info {
  text-decoration: none;
  background-color: rgba(132, 75, 53, 0.4470588235);
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}
.servicios__cards--boton-reserva {
  margin-left: 25px;
  text-decoration: none;
  background-color: #601C00;
  color: aliceblue;
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
}

/* PAGINA PREGUNTA FRECUENTE */
.preguntas-f {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preguntas-f__img {
  width: 100%;
  height: 300px;
}
.preguntas-f__img--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preguntas-f__title {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.preguntas-f__preguntas {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.preguntas-f__preguntas--pregunta {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #340D00;
  width: 100%;
}
.preguntas-f__preguntas--text {
  color: #844b35;
}

/* estilos de tablet */
@media screen and (min-width: 600px) {
  .section__logo {
    height: 131px;
    width: 553px;
  }
  .section__img-agencia--img {
    height: 378px;
    width: 553px;
  }
  .section__collage {
    height: auto;
    width: 553px;
  }
  .contacto__formulario {
    width: 540px;
  }
  .preguntas-f__preguntas {
    width: 600px;
  }
  .servicios__title {
    font-size: 50px;
  }
  .servicios__subtitle {
    font-size: 40px;
  }
}
/*  estilo desktop */
@media screen and (min-width: 1024px) {
  .inicio__carrusel--section-text p, .inicio__carrusel--section-text h6 {
    display: block;
  }
  .section__title {
    font-size: 45px;
  }
  .section__contacto--subcontenedor {
    flex-direction: row;
    justify-content: center;
  }
  .section__collage {
    width: 977px;
    height: 750px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 170px);
    grid-template-areas: "uno dos tres" "cuatro dos tres" "cuatro cinco tres" "seis seis seis";
  }
  .section__collage--img {
    height: 100%;
    width: 100%;
  }
  .section__collage--img-seis {
    display: block;
  }
  .section__contacto--text {
    font-size: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
