// IMPORT VARIABLES 
@import '../utilities/_variables.scss';

// IMPORT tipografia
@import '../base/tipografia';

// IMPORT MIXIN 
@import '../utilities/_mixin.scss';
// IMPORT BOTONES
@import '../components/buttons';
// IMPORT BOTONES
@import '../layout/forms';


.contacto {
    @include flex-colum;
    height: auto;
    &__img {
        width: 100%;
        height: 250px;
        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover ;
        }
    }

    &__formulario {
        @include formulario_contacto-contenedor;
        &--container {
            width:auto;
        }
        &--position {
            position: relative;
            bottom: 100px;
        }
        &--title {
            @include lilita-one;
        }
        &--dato-persona {
            display: inline-block;
            padding: 0px 20px 10px 0px;
            &-input {
                display: block;
                border: none;
                border-radius: 5px;
                background-color: $color-secudario;
            }
        }
        &--mensaje-textarea {
            width: 100%;
            @extend .contacto__formulario--dato-persona-input ;
        }
        &--botton {
            @include boton_contacto
        }
    }
}