// IMPORT VARIABLES 
@import '../utilities/_variables.scss';

// IMPORT tipografia
@import '../base/tipografia';
// IMPORT MIXIN 
@import '../utilities/_mixin.scss';
// IMPORT cards
@import '../components/cards';

/* PAGINA SERVICIOS */

/* tarjetas de los servicios */

.servicios {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    &__title {
        @include lilita-one;
        font-size: 30px;
        color: $color-principal;
    }
    &__subtitle {
        padding: 15px 0px;
        @include new-amsterdam;
        color: $color-secudario;
    }
    &__cards {
       @include cards;
    }
}