// MIXIN FLEX

@mixin flex-colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin img-carrusel {
    overflow: hidden;
    height: 300px; /* Ajusta la altura según tu necesidad */
    object-fit: cover; /* Mantiene las proporciones y cubre toda el área */
}