// IMPORT VARIABLES 
@import '../utilities/_variables.scss';

// IMPORT tipografia
@import '../base/tipografia';

// IMPORT MIXIN 
@import '../utilities/_mixin.scss';

// IMPORT LIST
@import '../utilities/_listas.scss';


/* estilos de footer */
.footer {
    text-align: left;
    background-color: $color-principal;
    padding: 15px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    &__container {
        @include roboto-ss;
        color: $color-aux;
        &--title{
            padding-bottom: 15px;
            font-size: 30px;
        }
        &--text li a {
            text-decoration: none;
            color: $color-aux;
            font-size: 20px;
        }
    }
}

.derechos {
    width: 100%;
    background-color: black;
    color: $color-aux;
    text-align: center;
}