// IMPORT VARIABLES 
@import '../utilities/_variables.scss';

// IMPORT tipografia
@import '../base/tipografia';

// IMPORT MIXIN 
@import '../utilities/_mixin.scss';



// ESTILO 

/* main index*/

/*carrusel*/

.inicio {
    height: auto;
    &__carrusel {
        height: auto;
        .carrusel__content {
            height: auto;
        }
        &--section img {
            @include img-carrusel;
        }
        &--section-text {
            text-align: center;
            padding: 100px 30px;
            position: absolute;
            width: 100%;
            height: 70%;
            bottom: 0px;
            background-image: linear-gradient(to top, $color-principal 20%, transparent );
            @include archivo-black;
            color: $color-aux;
            a {
                padding: 100px;
                text-decoration: none;
            }
            &:hover {
                background-image: linear-gradient(to top, $color-principal 40%, transparent );
            }
            h3 {
                color: $color-aux;
                font-size: 1.2rem
            } 
            h6 {
                color: $color-aux;
                display: none;
                font-size: 0.8rem;
            }
            p {
                @include roboto-ss;
                color: $color-aux;
                display: none;
                font-size: 0.8rem;
            }
        }
    }
}