// IMPORT VARIABLES 
@import '../utilities/_variables.scss';

// IMPORT tipografia
@import '../base/_tipografia.scss';

// IMPORT MIXIN 
@import '../utilities/_mixin.scss';

// IMPORT LIST
@import '../utilities/_listas.scss';
// IMPORT GRIDS
@import './_grids.scss';


/* estilo de section conocenos */
.section{
    @include flex-colum;
    padding: 20px 15px;
    justify-content: center;
    text-align: center;
    &__wsp {
        /* estilo de section whatsapp contacto flotante*/
        position: fixed;
        bottom: 50px;
        right: 15px;
        &--img:hover {
            height: 60px;
            width: 60px;
        }
    }
    /* estilo de section presentacion empresa */
    &--font-text {
        @include lilita-one;
    }
    &__title {
        padding-bottom: 50px;
        text-align: center;
        color: #340D00;
        font-size: 35px;
        @include lilita-one;
    }
    &__img-agencia{
        padding-bottom:40px;
        &--img {
            width: 80%;
            border-radius: 20px;
        }
    }
    &__contacto {
        @include flex-colum;
        &--subcontenedor {
            @extend .section__contacto;
        }
        &--text{
            color:#844B35 ;
            width: 80%;
            font-size: 20px;
        }
        &--img {
            padding-bottom: 50px;
            display: flex;
            flex-direction: row;
            gap: 40px;
            img:hover {
                height: 60px;
                width: 60px;
            }
            &-position{
                position: relative;
                top: 25px;
            }
        }
    }
    &__collage {
        @include collage;
    }
    &__ubicacion{
        padding-top: 40px;
        &--text {
            padding-bottom: 1rem;
            color: #391306;
            font-size: 2rem;
        }
    }
}