// TIPOGRAFIA

@mixin archivo-black{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin roboto-ss{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin lilita-one {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin new-amsterdam {
    font-family:  "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}